<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function(error) { %>
    <div class="alert alert-dismissible alert-warning fade show" role="alert">
      <%= error.msg %>
      <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
    </div>
  <% }); %>
<% } %>


<% if(success_msg != '') { %>
  <div class="alert alert-dismissible alert-success fade show" role="alert">
    <%= success_msg %>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="alert alert-dismissible alert-warning fade show" role="alert">
    <%= error_msg %>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="alert alert-dismissible alert-warning fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
  </div>
<% } %>