<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">Forget Password!</h1>
      <%- include('./partials/messages'); %>
      <form action="/user/forgetPassword" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input 
          type="email" 
          id="email" 
          name="email" 
          class="form-control"
          placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="new_password">New Password:</label>
          <input 
          type="password" 
          id="new_password" 
          name="new_password" 
          class="form-control"
          placeholder="Enter password"
          />
        </div>
       <div class="form-group">
         <label for="confirm_new_password">Confirm New Password:</label>
         <input 
         type="password" 
         id="confirm_new_password" 
         name="confirm_new_password" 
         class="form-control"
         placeholder="Confirm password"
         />
       </div>
       <button type="submit" class="btn btn-primary btn-block">Update password</button>
     </form>
    </div>
  </div>
</div>